<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="row"></div>
      <div class="row">
        <TablaCarrito></TablaCarrito>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import TablaCarrito from "components/TablaCarrito.vue";

export default defineComponent({
  name: "CarritoCompras",
  components: {
    TablaCarrito,
  },
});
</script>
