<template>
  <q-page class="flex flex-center">
    <img alt="Quasar logo" src="~assets/logo.jpg" />
    <div class="q-pa-md">
      <div class="q-gutter-md" style="max-width: 300px">
        <div v-if="!logueado">
          <q-input v-model="usuario" hint="Usuario" />
          <q-input
            v-model="clave"
            :type="isPwd ? 'password' : 'text'"
            hint="Clave"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <q-btn
            color="white"
            text-color="primary"
            @click="Login()"
            label="Iniciar"
          />
        </div>
        <div v-else>Bienvenido</div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { ref } from "vue";
import { login, obtener_usuario } from "../services/net_services";
import { uid } from "quasar";
import { useQuasar } from "quasar";

const $q = useQuasar();
const logueado = ref(false);
const isPwd = ref(true);
const usuario = ref(null);
const clave = ref(null);
const nombre = ref("");

const Login = async () => {
  try {
    const response = login(usuario.value, clave.value).then((res) => {
      console.log(res.token);
      if (res.token) {
        logueado.value = true;
      } else {
        $q.notify({
          message: "Credenciales incorrectas",
          color: "red",
        });
      }
    });
  } catch (error) {
    console.log(error);
  }
};
</script>
