<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="row"></div>
      <div class="row">
        <TablaProductos></TablaProductos>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import TablaProductos from "components/TablaProductos.vue";

export default defineComponent({
  name: "ListaProductos",
  components: {
    TablaProductos,
  },
});
</script>
