<template>
  <q-list v-if="token">
    <q-item-label> </q-item-label>

    <q-item clickable v-ripple to="/ListaProductos">
      <q-item-section> Productos </q-item-section>
    </q-item>

    <q-item clickable v-ripple to="/Carrito">
      <q-item-section> Carrito </q-item-section>
    </q-item>

    <q-item clickable v-ripple @click="Cerrar()" to="/">
      <q-item-section> Cerrar sesión </q-item-section>
    </q-item>
  </q-list>
</template>

<script setup>
import { ref } from "vue";
import { useAuthStore } from "../stores/auth.js";
import { computed } from "vue";
const authStore = useAuthStore();
const token = computed(() => !!authStore.getToken);
const rutas = computed(() => authStore.getRoutes);

function Cerrar() {
  const authStore = useAuthStore();
  authStore.clearToken();
}
</script>
