<template>
  <div class="q-pa-md">
    <q-table
      flat
      bordered
      title="Carrito"
      :rows="rows"
      :filter="filter"
      :columns="columns"
      row-key="name"
      binary-state-sort
    >
      <template v-slot:top-left>
        <h4 style="padding-right: 20px">Carrito</h4>
      </template>
      <template v-slot:top-right>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filter"
          placeholder="Buscar"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="clave" :props="props">{{ props.row.clave }}</q-td>
          <q-td key="descripcion" :props="props">{{
            props.row.descripcion
          }}</q-td>
          <q-td key="precio_unitario" :props="props">{{
            new Intl.NumberFormat().format(props.row.precio_unitario)
          }}</q-td>
          <q-td key="cantidad_seleccionada" :props="props">{{
            props.row.cantidad_seleccionada
          }}</q-td>
          <q-td key="importe" :props="props">{{
            new Intl.NumberFormat().format(props.row.importe)
          }}</q-td>

          <q-td key="acciones" :props="props">
            <q-btn
              flat
              color="primary"
              icon="delete"
              @click="Borrar(props.row)"
            />
          </q-td>
        </q-tr>
      </template>
    </q-table>
    Total: {{ new Intl.NumberFormat().format(total) }}
    <p>
      <q-btn
        color="primary"
        icon-right="card_giftcard"
        label="Comprar"
        @click="Comprar"
      />
    </p>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { guardar_carrito } from "../services/net_services";
import { uid } from "quasar";
import { useQuasar } from "quasar";
import { carritoStore } from "../stores/carrito.js";

//import { storeToRefs } from "pinia";
const $q = useQuasar();

const carrito = carritoStore();
//const { carrito } = storeToRefs(carritoStore());

const filter = ref("");
const total = ref(0);

const columns = [
  {
    name: "clave",
    align: "left",
    label: "Clave",
    field: "clave",
    sortable: true,
  },
  {
    name: "descripcion",
    align: "left",
    label: "Descripción",
    field: "descripcion",
    sortable: true,
  },
  {
    name: "precio_unitario",
    align: "left",
    label: "Precio Unutario",
    field: "precio_unitario",
    sortable: true,
  },
  {
    name: "cantidad_seleccionada",
    align: "left",
    label: "Cantidad",
    field: "cantidad_seleccionada",
    sortable: true,
  },
  {
    name: "importe",
    align: "left",
    label: "Importe",
    field: "importe",
    sortable: true,
  },
  {
    name: "acciones",
    align: "left",
    label: "Acciones",
    field: "acciones",
    sortable: true,
  },
];

function Borrar(producto) {
  carrito.eliminaProducto(producto);
  Actualiza();
}
function Comprar() {
  let nuevo = {
    total: total.value,
    compra_ref: uid(),
  };

  try {
    guardar_carrito(nuevo).then((res) => {
      console.log(res);
      $q.notify({
        color: "primary",
        message: "Compra registrada",
      });
      carrito.limpiaCarrito();
    });
  } catch (error) {
    $q.notify({
      message: "Error al comprar",
      color: "red",
    });
  }
}

function Actualiza() {
  rows.value = carrito.getCarrito;
  total.value = 0;
  rows.value.forEach((element) => {
    total.value += element.importe;
  });
}

const rows = ref([]);
Actualiza();
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 500px
</style>
