<template>
  <div
    v-for="producto in productos"
    :key="producto.clave"
    class="q-pa-md row items-start q-gutter-md"
  >
    <q-card class="my-card">
      <img :src="producto.img_url" />

      <q-card-section>
        <div class="text-h6">{{ producto.descripcion }}</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <p>
          Precio:{{ new Intl.NumberFormat().format(producto.precio_unitario) }}
        </p>
        <p>Disponible:{{ producto.cantidad_disponible }}</p>
        <q-btn
          :disabled="producto.cantidad_disponible <= 0"
          unelevated
          round
          color="primary"
          icon="add"
          @click="MuestraModal(producto)"
        />
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="modal">
    <q-card class="my-card">
      <q-card-section>
        <div class="row no-wrap items-center">
          <div class="col text-h6 ellipsis">Agrega a carrito</div>
        </div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="q-pa-md">
          <div class="q-gutter-md" style="max-width: 500px">
            <p>Producto {{ seleccionado.descripcion }}</p>
            <p>Clave {{ seleccionado.clave }}</p>
            <p>
              Precio
              {{ new Intl.NumberFormat().format(seleccionado.precio_unitario) }}
            </p>
            <p>Disponible {{ seleccionado.cantidad_disponible }}</p>
            <q-input v-model="cantidad" label="Cantidad" />
            <p>
              Importe
              {{
                new Intl.NumberFormat().format(
                  seleccionado.precio_unitario * cantidad
                )
              }}
            </p>
          </div>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn
          v-close-popup
          flat
          color="primary"
          label="Cancelar"
          @click="OcultaModal"
        />
        <q-btn
          :disabled="seleccionado.cantidad_disponible - cantidad < 0"
          v-close-popup
          flat
          color="primary"
          label="Agregar"
          @click="Agregar"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup>
import { ref } from "vue";
import { obtener_productos } from "../services/net_services";
import { uid } from "quasar";
import { useQuasar } from "quasar";
import { carritoStore } from "../stores/carrito.js";

const $q = useQuasar();

const carrito = carritoStore();

const filter = ref("");
const modal = ref(false);
const nuevo = ref({});
const cantidad = ref(0);
const productos = ref([]);
const seleccionado = ref(null);

const obtenerProductos = async () => {
  try {
    obtener_productos().then((res) => {
      console.log(res);

      productos.value = res.data.data
        .map(function (x) {
          if (!x.img_url) {
            x.img_url = "https:\/\/i.picsum.photos\/id\/default.jpg";
          }
          return x;
        })
        .filter((x) => x.es_visible == 1);
      console.log(productos.value);
    });
  } catch (error) {
    console.log(error);
  }
};

obtenerProductos();

function MuestraModal(producto) {
  seleccionado.value = producto;
  cantidad.value = 1;
  modal.value = true;
}

function OcultaModal() {
  modal.value = false;
}
function Agregar() {
  let p = JSON.parse(JSON.stringify(seleccionado.value));
  p.cantidad_seleccionada = parseInt(cantidad.value);
  p.importe = parseInt(cantidad.value * p.precio_unitario);
  carrito.agregaProducto(p);
  console.log(carrito.getCarrito);
}
carrito.limpiaCarrito();
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  width: 195px
</style>
